{% extends 'base.html' %}
{% load static%}

{% block title%}
Fitness Or-Yehuda
{% endblock%}

{% block css_files %}

<link rel="stylesheet" href="{% static "blog/gallery.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock%}

{% block content%}

    <div class="container">

        <section id="welcome" style= "background-image: url('{%static 'blog/images/Fitness.png'%}');">
            
            <header>
                
                <div id="gallerypagecontainer">
                
                    <h1>גלריה</h1>
                
                </div>
                

                
            
            </header>
        

        </section>


        
        <div class="container">
            <div class="image-container">
              <div class="image"><img src="{% static "blog/images/יסמין.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/ירוק.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/חברים.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/חמודי.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/יסמין.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/בום.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/מיכה.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/יסמין.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/גלגל (2).jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/יסמין.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/ירוק.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/חברים.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/חמודי.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/יסמין.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/בום.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/צחוק.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/יסמין.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/גלגל (2).jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/badass.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/ירוק.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/חברים.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/חמודי.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/יסמין.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/בום.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/מיכה.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/יסמין.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/גלגל (2).jpeg" %}" alt="" /></div>
  

            </div>
      
            <div class="popup-image">
              <span>&times;</span>
              <img src="" alt="" />
            </div>
          </div>
      
          <script>
            document.querySelectorAll(".image img").forEach(image => {
              image.onclick = () => {
                document.querySelector(".popup-image").style.display = "block";
                document.querySelector(".popup-image img").src =
                  image.getAttribute("src");
              };
            });
      
            document.querySelector(".popup-image span").onclick = () => {
              document.querySelector(".popup-image").style.display = "none";
            };
          </script>
       
        
   


{% endblock%}

