{% extends 'base.html' %}
{% load static%}

{% block title%}
Fitness Or-Yehuda
{% endblock%}

{% block css_files %}

<link rel="stylesheet" href="{% static "blog/gallery.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock%}

{% block content%}

    <div class="container">

        <section id="welcome" style= "background-image: url('{%static 'blog/images/Fitness.png'%}');">
            
            <header>
                
                <div id="gallerypagecontainer">
                
                    <h1>גלריה</h1>
                
                </div>
                

                
            
            </header>
        

        </section>


        
        <div class="container">
            <div class="image-container">
              <div class="image"><img src="{% static "blog/images/1.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/2.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/3.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/4.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/5.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/6.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/7.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/8.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/9.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/10.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/11.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/12.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/13.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/14.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/15.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/16.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/17.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/18.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/19.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/20.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/21.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/1.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/2.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/3.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/4.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/5.jpeg" %}" alt="" /></div>
              <div class="image"><img src="{% static "blog/images/6.jpeg" %}" alt="" /></div>
  

            </div>
      
            <div class="popup-image">
              <span>&times;</span>
              <img src="" alt="" />
            </div>
          </div>
      
          <script>
            document.querySelectorAll(".image img").forEach(image => {
              image.onclick = () => {
                document.querySelector(".popup-image").style.display = "block";
                document.querySelector(".popup-image img").src =
                  image.getAttribute("src");
              };
            });
      
            document.querySelector(".popup-image span").onclick = () => {
              document.querySelector(".popup-image").style.display = "none";
            };
          </script>
       
        
   


{% endblock%}

