body {
  background: rgb(96, 13, 13);
  background: linear-gradient(180deg, rgb(0, 0, 0) 7%, rgba(31, 4, 4, 0.849) 73%, rgba(0, 0, 0, 1.945) 100%);
  }
  
  #main-navigation {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  
  #all-posts {
   
    
    background-color: rgb(27 70 150 / 19%);
    padding: 2rem;
    border-radius: 5px;
    width: 90%;
    height: 80%;
    margin: 6rem auto 9rem auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);

    
  }
  
  #all-posts h2 {
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    margin: 1rem 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 1.5rem;
  }
  
  .post img {
    width: 100%;
    
  }
  
  .post a {
    height: 50%;
    transform-origin: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: white;
  }