.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  width: 100%;
  height: fit-content;
  position:relative;
  overflow: hidden;
}


.post a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.2s ease;
  padding: 1rem;

}


.post #challname {
  font-size: 24px; 
  position: absolute; 
  top: 8px;
  right: 55px;
  
  
}

.post #desc {
  font-size: 14px; 
  position: absolute; 
  bottom: 30px;
  right: 58px;
  width:80%;
  padding-bottom:5px;
}


.post a:hover,
.post a:active {
  transform: scale(1.05);
  
  color: rgb(101, 232, 255);
}


.post img {
  max-width: 100%;
  height: 400px;
  filter: brightness(50%);
  border: 2px solid #1d0404;
  overflow: hidden;
}



.post time {
  color: #666666;
  margin: 0.25rem;
  font-style: italic;
  font-size: 0.85rem;
}

.post:hover time,
.post:active time {
  color: white;
}