
#expert {
  background: rgb(96, 13, 13);
  background: linear-gradient(180deg, rgb(0, 0, 0) 7%, rgba(31, 4, 4, 0.849) 73%, rgba(0, 0, 0, 0.945) 95%);
  padding:1rem;
 
   
}
  #expert-container {
    background-color: rgb(24 24 24 / 41%);
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  
  
  #expert h2 {
    text-align: center;

  }
  
  #expert ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  #expert li {
    flex: 1;
    
  }




/* ----------------------------------------------------------------------------------------------------------- */





  * {box-sizing: border-box;}

.mySlides,
.mySlides2,
.mySlides3 {display: none;}
#expert img {
  vertical-align: middle; 
  height: 400px;
  max-width:100%;
  width:400px;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container,
.slideshow-container2,
.slideshow-container3 {
  margin:auto;
  max-width:300px;
  object-fit: fill;
  position: relative;
  border: 1px solid #9c9c9c;
}

.slideshow-container:hover .text,
.slideshow-container2:hover .text2,
.slideshow-container3:hover .text3{
  opacity: 1;
}

/* Caption text */
.text,
.text2,
.text3 {
  color: #ffffff;
  font-size: 30px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.685); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  padding: 18px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}


.active,
.active2,
.active3 {
  background-color: #717171;
}

/* Fading animation */
.fade,
.fade2,
.fade3 {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




@media (max-width: 1400px) {

}



/* Caption text */
@media (max-width: 800px) {

  .text,
  .text2,
  .text3 {
    font-size: 18px;
    padding: 12px;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 425px) {

  #expert-container {
   width:100%;
   display:grid;
   gap:3px;
  }

  
  .text,
  .text2,
  .text3 {
    font-size: 11px;
  }
}

@media (max-width: 320px) {

  .text,
  .text2,
  .text3 {
    font-size: 11px;
  }

}